<header>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?41e2e31fcfdb815d942715d44866f9fc";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <script>
    window.ga_tid = "G-JHXS14NDHV"; // {String} The trackerID of your site.
    window.ga_api = "https://hello-world-sweet-snowflake-0972.yangzhenfei0.workers.dev/"
    // {String} The route of your cloudflare workers you just registered before.
    </script>
    <script src="https://cdn.jsdelivr.net/npm/cfga@1.0.3" async>
    </script>

	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}

    {{ partial "mathjax.html" }}

</header>
